body{
    display: flex;
    height: 100vh;
    margin:0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
header{
    width: 100vw;
    text-align: center;
    height: 10vh;
    line-height: 5vh;
    font-size: 20pt;
    font-weight: bold;
}
footer{
    width: 100vw;
    text-align: center;
    height: 5vh;
}
main{
    display: flex;
    flex-direction: column;
    height: 85vh;
}
div>a{
    color:white;
    text-decoration: none;
}